@import 'reset.css';
/* ============== */
@import 'app.css';
@import 'input.css';
@import 'word.css';

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
